.App {
  text-align: center;
}

html, 
body {
    height: 100%;
    background-color: white
}

#appBarFixed {
  background-color: 	lightseagreen;
  padding-bottom: 0px
}

#menuList{
  padding-top: 0px
}

#appBarWelcome{
  align-content: flex-end
}
#appBarVersion{

}
#appBarDate{

}
#appBarHour{

}
